doctype html
html
    head
        title= "Real time web chat"
        script(src='/socket.io/socket.io.js')
        script(src='/chat.js')
    body(style='background:#2F1D04; color:#C29743; font-family: monospace;')
        #container.col(style='max-width:320;')
            #content(style='width: 100%; height: 640px; margin: 0 0 20px 0; border: solid 0px #999; overflow-y: hidden; background: #2F1D04')
            .controls
                input#name(style='padding:4px; padding-right:0; color:#8E7C4B; background:#573F1F; height:32px; width:99%; border:0; border-bottom:4px solid #000;', placeholder='username')
                br
                input#field(style='padding:4px; padding-right:0; color:#C29743; background:#573F1F; height:32px; width:99%; border:0; border-bottom:4px solid #000', placeholder='message')
                br
                input#send(style='padding-right:16px; padding-bottom:8px; text-align:right; font-size:52px; color:#C29743; background:#6B5238; width:100%; border:0; border-bottom:2px solid #000', type='button', value='')